.App {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.wrapper {
  /* margin-top: 50px; */
  /* width: 0%; */
}

.table div {
  padding: 20px;
}

.table .row {
  display: flex;
  gap: 10px;
}

.table .col {
  border: 1px solid brown;
  flex: 1;
}
